{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Choices for {{ restaurant }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Dish</th>
            </tr>
            </thead>
            <tbody>
            {% for table_row in table_rows %}
                {% if table_row['status'] == 1 %}
                    <tr class="table-succes">
                        <td>{{ table_row['name'] }}</td>
                        <td>{{ table_row['dish'] }} (Confirmed)</td>
                    </tr>
                {% else %}
                    <tr class="table-light">
                        <td>{{ table_row['name'] }}</td>
                        <td>{{ table_row['dish'] }} (Unconfirmed)</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}