{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Choices for {{ restaurant }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Dish</th>
                <th scope=""col>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for table_row in table_rows %}
                {% if table_row['status'] == 1 %}
                    <tr class="table-success">
                        <td>
                            {{ table_row['name'] }}
                            {% if table_row['is_orderer'] %}
                                <span class="badge badge-success">Ordering today</span>
                            {% endif %}
                        </td>
                        <td>{{ table_row['dish'] }}</td>
                        <td>Confirmed</td>
                    </tr>
                {% elif table_row['status'] == 2 %}
                    <tr class="table-warning">
                        <td>{{ table_row['name'] }}</td>
                        <td></td>
                        <td>Does not join</td>
                    </tr>
                {% else %}
                    <tr class="table-secondary">
                        <td>{{ table_row['name'] }}</td>
                        <td>{{ table_row['dish'] }}</td>
                        <td>No answer</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}