{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Proposed restaurants</h2>
        <ul class="list-group">
            {% for table_row in table_rows %}
                <li class="list-group-item">
                    <form method="post">
                        <div class="form-row">
                            <div class="col">
                                <b>{{ table_row['date'] }}</b>
                                 <input type="hidden" name="date" value={{ table_row['date'] }}>
                            </div>
                            <div class="col">
                                <select name="restaurant" class="form-control">
                                    {% for item in table_row['restaurants'] %}
                                        <option value={{ item['id'] }} {% if item['selected'] %}selected{% endif %}>{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select name="user" class="form-control">
                                    {% for item in table_row['users'] %}
                                        <option value={{ item['id'] }} {% if item['selected'] %}selected{% endif %}>{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-danger">Submit change</button>
                            </div>
                        </div>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}