{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Test actions</h2>
        <form action="" method="post">
            <div class="form-row"><input type="submit" class="btn btn-primary" name='choose_restaurant' value="Select restaurant based on votes"/></div>
            <div class="form-row"><input type="submit" class="btn btn-primary" name='send_slack' value="Send message to Michael"/></div>
            <div class="form-row"><input type="submit" class="btn btn-danger" name='send_active' value="Send message to all active"/></div>
            <div class="form-row"><input type="submit" class="btn btn-primary" name='choose_5_restaurants' value="Propose next 5 restaurants"/></div>
            <div class="form-row"><input type="submit" class="btn btn-primary" name='send_confirmation' value="Send dummy confirmation to Michael"/></div>
            <div class="form-row"><input type="submit" class="btn btn-danger" name='send_slack_lukas' value="Send lunch options to Lukas"/></div>
            <div class="form-row"><input type="submit" class="btn btn-primary" name='send_order_summary_michael' value="Send Order summary to Michael"/></div>
            <div class="form-row"><input type="submit" class="btn btn-danger" name='send_order_summary' value="Send Order summary"/></div>
            <div class="form-row"><input type="submit" class="btn btn-primary" name='update_dish_weights' value="Update Dish weights"/></div>
            <div class="form-row"><input type="submit" class="btn btn-primary" name='send_restaurant_options_michael' value="Send Restaurant Options to Michael"/></div>
            <div class="form-row"><input type="submit" class="btn btn-danger" name='send_restaurant_options' value="Send Restaurant Options to Lunch Channel"/></div>

        </form>
    </div>
{% endblock %}
