{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="my-4">
            <h2>What do you want to record?</h2>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">I bought pasta</h4>
                    <h6 class="card-subtitle mb-2 text-muted">or other common goods</h6>
                </div>
                <div class="card-body">

                    <form action="" method="post">
                        <input type="hidden" name="form_type" value="pasta_purchase">
                        <div class="form-group">
                            <label for="user1">Your name</label>
                            <select class="form-control" id="user1" name="user1">
                                <option value="" selected disabled>Select...</option>
                                {% for user_id, user_name in users %}
                                    <option value={{ user_id }}>{{ user_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="amount">Cost</label>
                            <input type="number" step="0.01" class="form-control" id="amount" name="amount"
                                   placeholder="in EUR" required>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <input type="text" class="form-control" id="comment" name="comment"
                                   placeholder="Optional">
                        </div>
                        <input type="submit" class="btn btn-primary" name='submit' value="Record purchase"/>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sending credits to someone</h4>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <input type="hidden" name="form_type" value="credit_transfer">
                        <div class="form-group">
                            <label for="user1">Credit sender (your name)</label>
                            <select class="form-control" id="user1" name="user1">
                                <option value="" selected disabled>Select...</option>
                                {% for user_id, user_name in users %}
                                    <option value={{ user_id }}>{{ user_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="user2">Credit receiver</label>
                            <select class="form-control" id="user2" name="user2">
                                <option value="" selected disabled>Select...</option>
                                {% for user_id, user_name in users %}
                                    <option value={{ user_id }}>{{ user_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" step="0.01" class="form-control" id="amount" name="amount"
                                   placeholder="in EUR" required>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <input type="text" class="form-control" id="comment" name="comment"
                                   placeholder="Optional">
                        </div>
                        <input type="submit" class="btn btn-primary" name='submit' value="Record transaction"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="my-4">
            <h2>Transactions in last 7 days</h2>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Credit Sender</th>
                    <th scope="col">Credit Receiver</th>
                    <th scope="col">Amount, in EUR</th>
                    <th scope="col">Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for row in last_transactions %}
                    {% if row[-1] %}
                        <tr class="table-secondary">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ "EUR {:.2f}".format(row[3]) }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}