{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Register transaction</h2>
        <p>Use this form to register monetary transaction between yourself and another user. If you have bought pasta, please choose the Pasta Bot as the receiver.
            <b>Only submit this form once you've actually transferred the money!</b>
        </p>
        <div>
            <form action="" method="post">
                <div class="form-group">
                    <label for="user1">Your name</label>
                    <select class="form-control" id="user1" name="user1">
                        <option value="" selected disabled>Select sender (yourself)...</option>
                        {% for user_id, user_name in users %}
                            <option value={{ user_id }}>{{ user_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="user2">Receiver</label>
                    <select class="form-control" id="user2" name="user2">
                        <option value="" selected disabled>Select receiver...</option>
                        {% for user_id, user_name in users %}
                            <option value={{ user_id }}>{{ user_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="amount">Amount transferred</label>
                    <input type="number" step="0.01" class="form-control" id="amount" name="amount" placeholder="Amount in EUR" required>
                </div>
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input type="text" class="form-control" id="comment" name="comment" placeholder="Add a comment for documentation ...">
                </div>
                <input type="submit" class="btn btn-danger" name='submit' value="Record transaction"/>
            </form>
        </div>
    </div>
{% endblock %}